<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DoIt.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DoItModels.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>B3537FF51C863C8500F2AB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B353800C1C863C8500F2AB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35380171C863C8500F2AB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B353806B1C88E9C100F2AB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>B35380741C88E9C200F2AB87</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
